# Pinned dependencies that cause breakage
Werkzeug==2.3.3
urllib3==1.26.15

# Runtime dependencies
Flask==2.3.2
flask-restx==1.1.0
cloudant==2.15.0
retry2==0.9.5
python-dotenv==1.0.0

# Runtime tools
gunicorn==20.1.0
honcho==1.1.0

# Code quality
pylint==2.16.2
flake8==6.0.0
black==23.1.0

# Testing dependencies
green==3.4.3
factory-boy==3.2.1
coverage==7.1.0

# Utilities
httpie==3.2.1
