version: "3"

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    hostname: nyu
    container_name: lab-flask-restplus-swagger
    volumes:
      - ..:/app
    command: sleep infinity
    environment:
      FLASK_APP: service:app
      FLASK_DEBUG: "True"
      CLOUDANT_HOST: couchdb
      CLOUDANT_PORT: 5984
      CLOUDANT_USERNAME: ${CLOUDANT_USERNAME:-admin}
      CLOUDANT_PASSWORD: ${CLOUDANT_PASSWORD:-pass}
    networks:
      - dev
    depends_on:
      - couchdb

  # CouchDB Dashboard: http://127.0.0.1:5984/_utils"
  couchdb:
    image: couchdb:latest
    hostname: couchdb
    ports:
      - 5984:5984
    volumes:
      - couchdb:/opt/couchdb/data
    environment:
      COUCHDB_USER: ${CLOUDANT_USERNAME:-admin}
      COUCHDB_PASSWORD: ${CLOUDANT_PASSWORD:-pass}
    networks:
      - dev

  # Create a few databases needed by CouchDB
  setup:
    image: couchdb:latest
    command: >
      bash -c "echo '*** SETUP: waiting 15 seconds for couchdb to initialize...'; sleep 15
      && curl -X PUT http://admin:pass@couchdb:5984/_users
      && curl -X PUT http://admin:pass@couchdb:5984/_replicator
      && curl -X PUT http://admin:pass@couchdb:5984/_global_changes"
    networks:
      - dev
    depends_on:
      - couchdb   

volumes:
  couchdb:

networks:
  dev: